body {
    background:black;
    font-family: 'Lato', sans-serif;
}

div#view-default-view, div#view-MapView {
    z-index:500;
}

/* bottom drawer */
#bottom-drawer.hidden {
    bottom:-266px;
}

div.MuiPaper-root.MuiPopover-paper {
    background:#1a1a1a;
}
#mouse-over-popover div.MuiPaper-root.MuiPopover-paper {
    color:white;
    padding:10px; 
}
div.MuiPaper-root.MuiPopover-paper li.MuiMenuItem-root {
    color:white;
    font-family: 'Lato', sans-serif !important;
}
div.MuiPaper-root.MuiPopover-paper li.MuiMenuItem-root:hover {
    background:#2b2b2b;
}
div.MuiPaper-root.MuiPopover-paper li.MuiListSubheader-root {
    font-weight: 700;
    color: rgba(255,255,255,0.7);
    font-variant: small-caps;
}

body {
    margin: 0; 
    padding: 0;
    font-family: Lato, sans-serif !important;
    font-size: 13px;
    /* background-color: #111333; */
    overflow: hidden;
  } 
  
  #mapContainer { position: absolute; top: 50px; width: 100%; height: 100%
  }
  
  #root {
    height:calc(100% - 50px);
  }
  
  .navbar {
    display: flex;
    width: 100%; 
    height: 50px; 
    background-color: #2f2f2f; 
    position: absolute; 
    top: 0px; 
    left: 0px;
    z-index:999;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1.75px;
    font-weight: 400;
    font-stretch: normal;
    color: #0d0d0d;
    font-opacity: 30%;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.7);
  }
  
  
  @media only screen and (max-width: 600px) {
    .navbar ul{
      display: none !important;
    }
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0px;
  }
  
  .navbar a {
    color: #ddd;
    text-align: center;
  }
  
  .nav-logo {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .navbar li {
    display: flex;
    align-items: center;
  }
  
  .navbar li:hover {
    background: #444;
    color: #eee;
  }
  
  .navbar a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  