body {
    background:black;
    font-family: 'Lato', sans-serif;
}

div#view-default-view, div#view-MapView {
    z-index:500;
}


/* bottom drawer */
#bottom-drawer {
    position: fixed;
    bottom:0;
    left:50%;
    background:#2b2b2b;
    transform:translateX(-50%);
    width:90vw;
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 1024px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius:0.5vh 0.5vh 0 0;
}

div.MuiPaper-root.MuiPopover-paper {
    background:#1a1a1a;
}
#mouse-over-popover div.MuiPaper-root.MuiPopover-paper {
    color:white;
    padding:10px; 
}
div.MuiPaper-root.MuiPopover-paper li.MuiMenuItem-root {
    color:white;
    font-family: 'Lato', sans-serif !important;
}
div.MuiPaper-root.MuiPopover-paper li.MuiMenuItem-root:hover {
    background:#2b2b2b;
}
div.MuiPaper-root.MuiPopover-paper li.MuiListSubheader-root {
    font-weight: 700;
    color: rgba(255,255,255,0.7);
    font-variant: small-caps;
}