body {
    background:black;
    font-family: 'Lato', sans-serif;
}

div#view-default-view, div#view-MapView {
    z-index:500;
}

/*  PANELS */
#variable-panel, #data-panel {
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    max-width:20vw;
    background-color: #2b2b2b;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.7);
    padding:20px;
    box-sizing: border-box;
    transition:250ms all;
    font: 'Lato', sans-serif;
    color:white;
}

#data-panel {
    right:0;
    left:auto;
    box-shadow: -2px 0px 5px rgba(0,0,0,0.7);
}

#variable-panel p.note {
    position: absolute;
    bottom:100px;
    width:calc(100% - 40px);
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:90%;
}

#variable-panel p.note a {
    color:yellow;
    text-decoration: none;
}

#variable-panel div.poweredByGeoda {
    position: absolute;
    bottom: 40px;
    color:white;
    width:100%;
    text-align:center;
    transform:translateX(-20px);
}

#variable-panel div.poweredByGeoda a {
    color:white;
    margin:0 auto;
    text-decoration: none;
    letter-spacing: 2px;
    font-size:75%;
}


#variable-panel div.poweredByGeoda a img {
    width:23px;
    height:27px;
    transform: translate(-50%,40%);
}

#variable-panel button#showHideLeftPanel, #data-panel button#showHideRightPanel {
    position:absolute;
    left:95%;
    top:20px;
    width:40px;
    height:40px;
    padding:0;
    margin:0;
    background-color: #2b2b2b;
    box-shadow: 0px 0px 6px rgba(0,0,0,1);
    outline:none;
    border:none;
    cursor: pointer;
    transition:500ms all;
}
#data-panel button#showHideRightPanel {
    right:95%;
    left:auto;
}

#variable-panel button#showHideLeftPanel svg, #data-panel button#showHideRightPanel svg{
    padding:0;
    margin:0;
    fill:white;
    transform:rotate(0deg);
    transition:500ms all;
}
#data-panel button#showHideRightPanel svg {
    transform:rotate(180deg);
}

#variable-panel button#showHideLeftPanel.hidden{
    left:100%;
}

#data-panel button#showHideRightPanel.hidden{
    right:100%;
}

#variable-panel button#showHideLeftPanel.hidden svg {
    transform:rotate(180deg);
}

#data-panel button#showHideRightPanel.hidden svg {
    transform:rotate(0deg);
}

#variable-panel button#showHideLeftPanel:after{
    opacity:0;
    font-weight:bold;
    content: 'Variables';
    color:white;
    position: relative;
    right:-50px;
    top:-30px;
    transition:500ms all;
}
#variable-panel button#showHideLeftPanel:after, #data-panel button#showHideRightPanel:after{
    opacity:0;
    font-weight:bold;
    content: 'Variables';
    color:white;
    position: relative;
    right:-50px;
    top:-30px;
    transition:500ms all;
}

#data-panel button#showHideRightPanel:after {
    content: 'Info';
    right:40px;
}

#variable-panel button#showHideLeftPanel.hidden:after,
#data-panel button#showHideRightPanel.hidden:after{
    opacity:1;
}

/* bottom drawer */
#bottom-drawer {
    position: fixed;
    bottom:0;
    left:50%;
    background:#2b2b2b;
    transform:translateX(-50%);
    width:90vw;
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 1024px;
    padding-bottom:220px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius:0.5vh 0.5vh 0 0;
}
#slider-container, #main-chart-container {
    width:100%;
    position: absolute;
    bottom:0;
    height:150px;
}

#slider-container {
    bottom:72px;
    height:100px;
}

#legend {
    width:100%;
    padding:20px;
    margin:0;
    box-sizing: border-box;
}
#legend h3 {
    text-align: left;
    font-family:'Montserrat', sans-serif;
    padding:0 0 10px 0;
    margin:0;
    color:white;
}

#legend #binLabels, #legend #binBars {
    width:100%;
    display: flex;
    box-sizing: border-box;

}
#legend #binBars .bin, #legend #binLabels .bin {
    height:10px;
    display: inline;
    flex:1;
    border:0;
    margin:0;
}

#legend #binBars .bin:nth-of-type(1) {
    transform: scaleX(0.35);
}

#legend #binLabels .bin {
    flex:2;
    color:white;
    font-size:10px;
    text-align: center;
}

#legend #binLabels .bin:nth-of-type(1) {
    transform: translateX(-45%);
}