body {
    background:black;
    font-family: 'Lato', sans-serif;
}

div#view-default-view, div#view-MapView {
    z-index:500;
}


/* bottom drawer */
#bottom-drawer {
    position: fixed;
    bottom:0;
    left:50%;
    background:#2b2b2b;
    transform:translateX(-50%);
    width:90vw;
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 1024px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius:0.5vh 0.5vh 0 0;
}
/* #slider-container, #main-chart-container {
    width:100%;
    position: absolute;
    bottom:0;
    height:150px;
}

#slider-container {
    bottom:72px;
    height:100px;
} */

#legend {
    width:100%;
    padding:20px;
    margin:0;
    box-sizing: border-box;
}
#legend h3 {
    text-align: left;
    font-family:'Montserrat', sans-serif;
    padding:0 0 10px 0;
    margin:0;
    color:white;
}

#legend #binLabels, #legend #binBars {
    width:100%;
    display: flex;
    box-sizing: border-box;

}
#legend #binBars .bin, #legend #binLabels .bin {
    height:10px;
    display: inline;
    flex:1;
    border:0;
    margin:0;
}

#legend #binBars .bin:nth-of-type(1) {
    transform: scaleX(0.35);
}

#legend #binLabels .bin {
    flex:2;
    color:white;
    font-size:10px;
    text-align: center;
}

#legend #binLabels .bin:nth-of-type(1) {
    transform: translateX(-45%);
}